<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- dao와 xml의 Mapping설정은 우리가 한다. = namespace -->
<mapper namespace="com.quiz.lesson02.dao.StoreDAO"> <!-- 이 안에 쿼리들이 들어간다 -->
	<select id="selectStoreList" resultType="com.quiz.lesson02.model.Store"> <!-- id는 DAO메소드 그대로 복사, resultType: 하나의 행을 어디에 담을거냐 class경로 -->
		SELECT <!-- 관례적으로 대문자로 작성, ; 안붙임 -->
			`id`
			, `name`
			, `phoneNumber`
			, `address`
			, `businessNumber`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM 
			`store`
	</select>
</mapper>