@charset "UTF-8";

nav {background-color: #4287f5;}
header{height:80px;}

header .logo{color: white; font-size: 25px; font-weight: bold; margin-top:5px;}
.nav-link {text-decoration: none; color: white; font-weight: bold;}

footer span {color: #3b3f47;}